<!doctype html>
<head>
  <title>Speech to Text App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <h1>Speech to Text App</h1>
  </header>
  <main>
    <p><button id="recordSpeech" disabled>Record Speech</button> <button id="stopRecordSpeech" disabled>Stop Speech</button></p>
    <p><button id="recordPitch" disabled>Record Pitch</button> <button id="stopRecordPitch" disabled>Stop Pitch</button></p>
    <p><audio id="audio" controls></audio></p>
  </main>
  <script src="static/script.js" onload=""init()></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/pitchy"></script>

</body>
